* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    background-image: linear-gradient(to right, #d2ffff, #0694c6);
}

.heading a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.heading {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.inp form {
    display: grid;
    width: 100%;
    position: absolute;
    top: 10px;
    gap: 15px;
    justify-items: center;
}

.inp {
    position: relative;
    top: 30px
}


.inp button {
    padding: 10px 15px;
    background-color: #1e98eb;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

.inp button:hover {
    background-color: #039dff;
}

input {
    padding: 8px;
    width: 70%;
    position: relative;
    outline: none;
    border-radius: 10px;
    border: 2px solid #05c2ed;
    font-size: 20px;
}

.opt{
    position: relative;
    top:175px
}

.preview{
    display: grid;
    justify-items: center;
    gap:10px;
}

.preview img{
    max-height:500px;
    max-width:300px;
    border-radius: 10px;
    border: none;
}

.preview button{
    padding: 10px 15px;
    background-color: #1e98eb;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    margin-bottom: 22px;
}

.preview a{
    text-decoration: none;
    color: black;
    background-color: #1e98eb;
    font-family: 'Poppins', sans-serif ;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.opt p {
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 40px;
    color: #ed5656;
    padding: 5px;
}

.button{
    position: relative;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;

}

.button:active{
    background-color: #039dff;
}

.button__text{
    transition: all 0.2s;
}

.button--loading .button__text{
    visibility: hidden;
    opacity: 0;
}

.button--loading::after{
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height:15px;
    width: 15px;
    border: 4px solid transparent;
    border-top-color: #a3dcff;
    border-radius: 50%;
    animation: loading 1s linear infinite ;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}