* {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #adcfeb;
}

header {
    position: relative;
    top: 20px;
    text-align: center;
}

h1 {
    font-weight: bold;
}

.subcontainer {
    position: relative;
    top: 30px;
}

.buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

a {
    display: block;
    text-decoration: none;
    color: black;
    box-shadow: 0px 0px 12px 4px #6900d14f;
    background-color: #8a51ff21;
    font-size: large;
    padding: 22px 0px;
    border-radius: 10px;
}

.button {
    text-align: center;
    display: inline;
    width: 300px;
    text-align: center;
}


@media (min-device-width:550px){
    .button {
        width: 500px;
    }
}
