.container {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.head {
    text-align: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(1, 500px);
    grid-template-rows: repeat(7, 60px);
    gap: 40px;
}

body {
    background-color: #adcfeb;
    overflow-y: scroll;
}

.subcontainer {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
    height: 100%;
    background-color: #7c58ef;
    font-size: 20px;
    padding: 10px 100px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    width: 100%;
}


@media (max-device-width: 500px){
    a{
        width:130px;
    }
    .buttons {
        display: grid;
        grid-template-columns: repeat(1, 360px);
        grid-template-rows: repeat(7, 60px);
        gap: 40px;
    }
    
}

@media only screen and (min-device-width:140px) and (max-device-width: 340px){
    a{
        width:60px;
    }
    .buttons{
        display: grid;
        grid-template-columns: repeat(1,240px);
        grid-template-rows: repeat(7, 60px);
        gap: 40px;
    }
    p{
        width: auto;
    }
}