body {
    background-image: linear-gradient(95.2deg, rgba(173, 252, 234, 1) 26.8%, rgba(192, 229, 246, 1) 64%);
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.main {
    height: auto;
}
.main h2 {
    margin: 25px auto;
    width: 250px;
    text-align: center;
    color: black;
}
.info{
    position: relative;
    text-align: center;
    color: rgb(255 0 0 / 81%);
    top:80px;
}
.input input {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid black;
    outline: none;
    height: 30px;
    font-size: large;
    border-radius: 4px;
    width: 275px;
    padding-left: 7px;
}
.input {
    position: relative;
    top: 30px;
    text-align: center;
}
.input p {
    font-size: large;
}
.input button {
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-image: linear-gradient(to right, #06aef5, #13e5ea);
    text-align: center;
    margin-top: 10px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 60%);
    color: black;
}
.title h3 {
    margin: 10px;
    text-align: center;
}
.title h4 {
    margin: 10px;
    text-align: center;
}
.output {
    position: absolute;
    top: 43%;
    left: 5%;
    right: 3%;
}
.head {
    position: relative;
    top: 23px;
    color: #066ff5bf;
}
.options {
    text-align: center;
}
.options select {
    outline: none;
    border: thin solid black;
    background-color: rgba(255, 255, 255, 0.774);
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    outline: none;
    position: relative;
    top: 25px;
    height: 30px;
    width: 250px;
}
.options select option {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.opbutton {
    text-align: center;
}
.convert {
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-image: linear-gradient(to right, #06aef5, #13e5ea);
    text-align: center;
    margin-top: 10px;
    position: relative;
    top: 35px;
    color: black;
}
.download {
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-image: linear-gradient(to right, #06aef5, #13e5ea);
    text-align: center;
    margin-top: 10px;
    position: relative;
    top: 40px;
    color: black;
}