<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{url_for('static',filename='images/mainlogo.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Saiteja</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/maincss.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="head">
            <h1>Saiteja's Website</h1>
        </div>
        <br>
        <div class="subcontainer">
            <div class="buttons">
                <span><a href="/sms"><p>Sms Bomber</p></a></span>
                <span><a href="/url"><p>URL Shortner</p> </a></span>
                <span><a href="/cmr"><p>CMR Profile</p></a></span>
                <span><a href="/instagram"><p>Instagram Downloader</p></a></span>
                <span><a href="/yt"><p>Youtube Downloader</p></a></span>
                <span><a href="/calculator"><p>Calculator</p></a></span>
                <span><a href="/bmi"><p>BMI Calculator</p></a></span>
            </div>
            <br><br>
        </div>
    </div>
</body>
</html>