<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{url_for('static',filename='images/mainlogo.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Saiteja</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/maincss.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <h1>Saiteja's Website</h1>
        </header>
        <br>
        <div class="subcontainer">
            <div class="buttons">
                <div class="button"><a href="/qrcode">QR Code Generator</a></div>
                <div class="button"><a href="/instagram">Instagram Downloader</a></div>
                <div class="button"><a href="/yt">Youtube Downloader</a></div>
                <div class="button"><a href="/files">Upload And Download Files</a></div>
                <div class="button"><a href="/sms">Sms Bomber</a></div>
                <div class="button"><a href="/url">URL Shortner</a></div>
                <div class="button"><a href="/cmr">CMR Profile</a></div>
                <div class="button"><a href="/calculator">Calculator</a></div>
                <div class="button"><a href="/bmi">BMI Calculator</a></div>
            </div>
            <br><br>
        </div>
    </div>
</body>
</html>