<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/instagramcss.css')}}">
    <link rel="icon" href="{{url_for('static',filename='images/instagramlogo.jpg')}}">
    <title>Instagram Downloader</title>
</head>

<script>
    function hel(){
        const inp = document.getElementById("urlinp");
        if(inp.value) {
            const btn = document.getElementById("b");
            btn.classList.add("button--loading");
        }
    }
</script>


<body>
    <div class="main">
        <div class="heading">
            <a id="head" href="/"><p><strong>Instagram Downloader</strong></p></a>
        </div>
        <div class="inp">
            <form action="/" method="post">
                <input type="url" placeholder="Paste Link Here" name="url" id="urlinp" required>
                <button type="submit" id="b" class="button" onclick="hel()"><span class="button__text"><strong>Search</strong></span></button>
            </form>
        </div>
        <div class="opt">
            {% if info %}
            <p>{{info}}</p>
            {% endif %}
            <div class="preview">
                {% if op %}
                {% for i in range(length) %}
                <img src="{{preview_links[i]|replace('amp;','')}}">
                <a href="{{download_links[i]|replace('amp;','')}}"><strong>{{titles[i]}}</strong></a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>